---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout activePage="about" footerText="2025-2026 𖥔 Gabi Lecusay 𖥔 BFA Thesis">
    <div class="centermain_about">
        <div class="aboutbg"></div>
        <div class="aboutdetails"></div>
        <div class="aboutscreen">
            <p>About</p>
            <p>fdjdnsjbjsdlvnlsd</p>
            <p>fdjdnsjbjsdlvnlsd</p>
            <p>fdjdnsjbjsdlvnlsd</p>
            <p>fdjdnsjbjsdlvnlsd</p>
            <p>fdjdnsjbjsdlvnlsd</p>
            <p>fdjdnsjbjsdlvnlsd</p>
            <p>fdjdnsjbjsdlvnlsd</p>
            <p>fdjdnsjbjsdlvnlsd</p>
            <p>fdjdnsjbjsdlvnlsd</p>
            <p>fdjdnsjbjsdlvnlsd</p>
            <p>fdjdnsjbjsdlvnlsd</p>
            <p>fdjdnsjbjsdlvnlsd</p>
            <p>fdjdnsjbjsdlvnlsd</p>
            <p>fdjdnsjbjsdlvnlsd</p>
            <p>fdjdnsjbjsdlvnlsd</p>
        </div>
    </div>
</MainLayout>
