---
/*
welcome! :^)
I hand-write as much as I can with the help the old web and my partner. No AI wrote this code. I like to source inspiration from various indie sites so if you see anything of yours that I posted let me know! This website is just another passion project for my BFA Thesis so I hope that you enjoy it!
...Honestly only god knows how this thing works.
*/
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
    <Fragment slot="head">
        <script is:inline src="/scripts/comets.js"></script>
    </Fragment>
    <a href="/">
        <div class="centermain">
            <img id="sign" src="/temp/constru.gif" />
            <img src="/temp/lizar.gif" />
            <img id="temptiny" src="/temp/lildude.gif" />
        </div>
    </a>
</MainLayout>
