---
import BaseLayout from '../layouts/BaseLayout.astro';
import Loader from '../components/Loader.astro';
import '../styles/main.css';
import '../styles/animations.css';
import '../styles/fonts.css';
import '../styles/splash.css';
---

<BaseLayout>
    <div class="splashbodyoverlay"></div>

    <div class="container">
        <div class="splashbody"></div>
    </div>

    <div class="splash">
        <img src="/media/LABRILOGO.png" />
        <h3><i>-The Story of Scarlet-</i></h3>
        <h2>𖦹 Welcome! 𖦹</h2>
        <p>This website is best viewed horizontally.</p>
        <div class="warning">
            <p><b>WARNING</b></p>
            <p>Flashing Lights & High Contrast</p>
        </div>
        <a href="/main"><button class="splashbtn">ENTER</button></a>
    </div>
</BaseLayout>
