---
/*
welcome! :^)
I'm a beginner mostly when it comes to code. This project was handwritten with love by myself and with the help of my partner Angel. I'm grateful to him and all of the lovely resources available online.
*/
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout activePage="prologue" footerText="2025-2026 𖥔 Gabi Lecusay 𖥔 BFA Thesis">
    <div class="centermain_pro">
        <div class="promainwrap">
            <div class="prowrap">
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                    voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                    occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt
                    mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et
                    expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque
                    nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda
                    est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut
                    rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non
                    recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
                    voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
                </p>
            </div>
            <div class="prowrap">
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                    voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                    occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt
                    mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et
                    expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque
                    nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas
                    assumenda
                    est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut
                    rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae
                    non
                    recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
                    voluptatibus maiores alias consequatur aut perferendis doloribus asperiores
                    repellat.
                </p>
            </div>
        </div>
    </div>
</MainLayout>
