---
import BaseLayout from '../layouts/BaseLayout.astro';
import Loader from '../components/Loader.astro';
import '../styles/sitemap.css';
---

<BaseLayout>
    <div class="file-tree">
        <ul>LA BRINTA SITE MAP
            <li>index - labrinta.com
                <ul>
                    <li>main
                        <ul>
                            <li>about
                            <li>prologue
                            <li>links
                                <ul>
                                    <li>site map [you are here!]
                                    <li>portfolio - senjerak.xyz
                                    <li> newsletter - senjerak.substack.com
                                    <li>sources
                                    <li>guestbook - senjerak.atabook.org
                                </ul>
                            <li>visual novel
                                <ul>
                                    <li>Home - Poddertown
                                    <li>On The Way
                                    <li>Arriving - Tutorial
                                    <li>The Anteroom
                                    <li>Room 1 - Love
                                    <li>Room 2 - Trust
                                    <li>Room 3 - Acceptance
                                    <li>Unconditionally
                                    <li>Fin
                                </ul>
                            </li>

                            Thank you for visiting my website! :^)
                            - gabi
    </div>
</BaseLayout>
