---
import BaseLayout from "./BaseLayout.astro";
import "../styles/fonts.css";
import "../styles/novel.css";
---

<BaseLayout>
  <Fragment slot="head">
    <script is:inline src="/scripts/novel_engine.js"></script>
  </Fragment>
  <div id="novelDiv">
    <a class="homebtn" href="/main"></a>
    <div style="position: absolute; left:0; top: 0; z-index:-1">
      <img id="background0" />
      <video id="video"></video>
    </div>
    <div id="dialogDiv" style="z-index:100"></div>
  </div>
  <slot />
</BaseLayout>
