body,
html {
    overflow: hidden;
    background: black;
    margin: 0;
    padding: 0;
}

.brinta_content_wrap {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scene {
    width: 95vw;
    height: 90vh;
    border: solid cyan 2px;
    margin-left: auto;
    margin-right: auto;
}

.text_box_bottom {
    width: 70vw;
    height: 25vh;
    border: solid red 2px;
    position: absolute;
    bottom: 2vh;
}

.text_box_right {
    width: 30vw;
    height: 80vh;
    border: solid red 2px;
    position: absolute;
    right: 2vh;
}

.text_box_left {
    width: 30vw;
    height: 80vh;
    border: solid red 2px;
    position: absolute;
    left: 2vh;
}

.text_box_top {
    width: 70vw;
    height: 25vh;
    border: solid red 2px;
    position: absolute;
    top: 2vh;
}