body {
    background: url(../textures/324.GIF);
    background-size: 100px;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    cursor: url(../media/labricursor.png), auto;
    height: 100vh;
    width: 100vw;
}

html {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

a,
button {
    cursor: url(../media/labricursor2.png), auto;
}

.active {
    color: yellow !important;
}

.stars {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: url(../media/labribg2.png) repeat;
    position: absolute;
    animation: slide 60s linear infinite;
}

.fatwrap {
    z-index: 1;
    width: auto;
}

.header {
    width: auto;
    background: url(../media/labriheader.png);
    background-size: contain;
    background-repeat: repeat-x;
    height: 16vh;
    display: block;
    text-align: right;
}

.header img {
    height: 30vh;
    margin-top: -7vh;

}

.headerdivider {
    position: absolute;
    z-index: 11;
    width: 100vw;
    background: url(../borders/labridivider.png);
    background-repeat: repeat-x;
    background-size: contain;
    height: 4vh;
    margin-top: -2vh;
    pointer-events: none;
}

.headerdividerfoot {
    position: absolute;
    z-index: 11;
    width: 100vw;
    background: url(../borders/labridivider.png);
    background-repeat: repeat-x;
    background-size: contain;
    height: 4vh;
    margin-top: 6px;
    pointer-events: none;
}

.headeroverlay {
    width: 100vw;
    background-image: url(../borders/labriheader2.gif);
    background-repeat: repeat-x;
    background-size: contain;
    height: 12vh;
    position: absolute;
    top: 4vh;
    pointer-events: none;
}

.banner {
    width: auto;
    background: url(../textures/037.GIF);
    height: 4vh;
    display: flex;
    justify-content: center;
    border: solid 5px transparent;
    border-image: url(../textures/085.GIF) 30 round;
}

.banner button {
    position: inherit;
    margin-left: 3vw;
    margin-right: 3vw;
    border-style: none;
    font-family: opdysaltabold;
    background: url(../textures/231.GIF);
    background-size: cover;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 0.5vh;
}

.banner button:hover {
    filter: invert(100%);
}

.lowbanner {
    width: auto;
    background: pink;
    height: 2vh;

}

.centermain {
    z-index: -1;
    width: 90vw;
    background: url(../media/starss.gif);
    height: 75vh;
    display: flex;
    justify-content: center;
}

.centermain img {
    position: absolute;
    margin-top: 20vh;
    filter: drop-shadow(12px 12px 0px rgba(0, 0, 0, 0.5));
}

#sign:hover {
    width: 20%;
}

#sign {
    margin-top: 25vh;
    z-index: 5;
}

.mainwrapper {
    height: 78vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.centerwrapper {
    height: auto;
}

.right {
    right: 0;
    position: absolute;
    width: 25vw;
    background: url(../media/mainright.png);
    background-size: cover;
    background-repeat: norepeat;
    height: 80vh;
    z-index: 5;
}

.left {
    left: 0;
    position: absolute;
    width: 25vw;
    background: url(../media/mainleft.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    z-index: 5;
}

.footer {
    padding-top: 20px;
    display: flex;
    z-index: 10;
    bottom: 0;
    position: relative;
    width: auto;
    background: url(../textures/037.GIF);
    height: 4vh;
    border: solid 5px transparent;
    border-image: url(../textures/085.GIF) 30 round;
}

.footer marquee {
    color: white;
    font-family: opdysboldI;
    height: 20px;
    padding-top: 15px;
    top: 0;
    position: absolute;
}

.footer img {
    margin-top: -50px;
    padding: 0;
}

.loader {
    position: fixed;
    background: url(../textures/rainbowstr.gif);
    inset: 0;
    z-index: 9999999;
}

/* Prologue */

.centermain_pro {
    background: url(../textures/SB102.JPG);
    z-index: -1;
    width: 90vw;
    height: 90vh;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    background-size: 500px;
}

.promainwrap {
    box-shadow: -10px 20px 50px black;
    margin-top: 1vh;
    display: flexbox;
    justify-content: center;
    background-size: 5px;
    overflow-y: scroll;
    width: 40vw;
    margin-left: 3vw;
    padding: 20px;
    background: url(../textures/GRANITE7.JPG);
    border: solid 20px transparent;
    border-image: url(../borders/floral2.png) 21 round;
    overflow: auto;
}

.prohead h1 {
    text-align: right;
    color: white;
    font-family: opdysaltabold;
    font-size: 24px;
    margin: 5px;
    text-shadow: 2px 2px 4px #000000;
}

.promainwrap p {
    text-align: left;
    color: white;
    font-family: opdysaltareg;
    font-size: 16px;
    text-shadow: 2px 2px 4px #000000;
}

.prowrap {
    width: 25vw;
    margin-left: auto;
    margin-right: auto;
}

/* Links */

.centermain_links {
    background: url(../textures/TILES24.png);
    z-index: -1;
    width: 90vw;
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    background-size: 100px;
}

.linksmainwrap {
    border: solid black 5px;
    box-shadow: -10px 20px 50px black;
    margin-top: 10vh;
    display: flexbox;
    justify-content: center;
    background-size: 5px;
    overflow-y: scroll;
    width: 20vw;
    height: 52vh;
    margin-left: 2vw;
    background: url(../textures/paperbag195.jpg);
}

.linkshead {
    box-shadow: -1px 2px 9px black;
    width: 30vh;
    height: 10vh;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    background: url(../textures/CLOTH04.png);
}

.linkshead h1 {
    text-align: right;
    color: white;
    font-family: opdysaltabold;
    font-size: 24px;
    margin: 5px;
    text-shadow: 2px 2px 4px #000000;
}



.linksmainwrap p {
    text-align: left;
    color: white;
    font-family: opdysaltareg;
    font-size: 16px;
    text-shadow: 2px 2px 4px #000000;
}

.linkborder {
    margin-top: 0;
    background-size: 5px;
    overflow-y: scroll;
    width: 30vw;
    height: 70vh;
    margin-left: 2vw;
    position: absolute;
    background-image: url(../media/frame.png);
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
}

/* About */

.aboutbg {
    background: url(../textures/681.GIF);
    width: 100vw;
    height: 300px;
    background-size: 100px;
}

.aboutdetails {
    position: absolute;
    height: 600px;
    width: 700px;
    margin-top: 10px;
    margin-left: 100px;
    background: url(../media/computer.png);
    background-size: cover;
    z-index: 3;
    display: flex;
    pointer-events: none;
}

.aboutscreen {
    position: absolute;
    height: 240px;
    width: 240px;
    background: rgb(4, 0, 255);
    z-index: 1;
    margin-left: 184px;
    margin-top: 100px;
    overflow-y: scroll;
    color: black;
    transform: skewX(2.5deg) rotateZ(2deg) perspective(256px);
    padding-top: 36px;
    padding-left: 12px;
    padding-right: 8px;
    word-wrap: break-word;
    box-sizing: border-box;
}

.aboutscreen p {
    text-align: left;
    color: white;
    font-family: opdysaltareg;
    font-size: 16px;
    text-shadow: 2px 2px 4px #000000;
}

.centermain_about {
    z-index: -1;
    width: 70vw;
    background: url(../textures/N054.JPG);
    height: 80vh;
    display: flex;
    justify-content: center;
}

/* About */