body {
    text-align: center;
    background: url(../s_one/raindrops.webp);
}


.loader {
    position: fixed;
    background: url(../media/animate.gif);
    background-repeat: repeat;
    inset: 0;
    z-index: 9999999;
    display: flex;
    justify-content: center;
    text-align: center;
}

.loader img {
    position: absolute;
    top: 40%;
    width: 120px;
    height: 120px;
}

#load {
    z-index: 5;
    width: 120px;
    height: 20px;
    filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.5));
}

#novelDiv {
    width: 1024px;
    height: 580px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    position: relative;
    text-align: center;
}



#dialogDiv {
    font-family: opdysaltareg;
    font-size: 16px;
    position: absolute;
    width: 990px;
    height: 100px;
    top: 490px;
    left: 0;
    padding: 15px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.6) 100%);
    color: white;
    text-align: left;
    border: solid white 2px;
}

.menuItem {
    font-family: "Deja Vu Sans", Helvetica, Arial, sans-serif;
    font-size: 18px;
    background-color: #0050a0;
    color: white;
    text-align: center;
    width: 75%;
    margin: 0.5em auto;
    padding: 0.5em 3em;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.menuItem:hover {
    background-color: #ff8c00;
}

.window {
    pointer-events: none;
    background: url(../s_one/windowtilt.gif);
    position: absolute;
    left: 85px;
    top: 220px;
    width: 140px;
    height: 108px;
    transform: scale(1.5);
    z-index: -1;
    background-size: contain;
}