body {
    text-align: center;
    background: url(../s_one/raindrops.webp);
}

#novelDiv {
    width: 1004px;
    height: 580px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    position: relative;
    text-align: center;
}

#novelDiv img {
    width: 1004px;
    height: 580px;
}

#dialogDiv {
    font-family: "Deja Vu Sans", Helvetica, Arial, sans-serif;
    font-size: 20px;
    position: absolute;
    width: 990px;
    height: 100px;
    top: 490px;
    left: 0;
    padding: 5px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.6) 100%);
    color: white;
    text-align: left;
    border: solid white 2px;
}

.menuItem {
    font-family: "Deja Vu Sans", Helvetica, Arial, sans-serif;
    font-size: 18px;
    background-color: #0050a0;
    color: white;
    text-align: center;
    width: 75%;
    margin: 0.5em auto;
    padding: 0.5em 3em;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.menuItem:hover {
    background-color: #ff8c00;
}

.window {
    pointer-events: none;
    background: url(../s_one/windowbase.gif);
    position: absolute;
    left: 70px;
    top: 220px;
    width: 170px;
    height: 112px;
    z-index: 5;
    background-size: contain;
    transform: skewX(-2.5deg) rotateZ(-2deg) perspective(0.5vh);
}