body,
html {
    background: black;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scrollbar-width: none;
}



/* S1 P1 */

.scrollone {
    position: absolute;
    width: 100%;
    height: 500%;
    background: url(../s_one/SB028.JPG);
    background-size: contain;

}

.scrollone img {
    image-rendering: -moz-crisp-edges;
    /* Firefox                        */
    image-rendering: -o-crisp-edges;
    /* Opera                          */
    image-rendering: -webkit-optimize-contrast;
    /* Chrome (and eventually Safari) */
    image-rendering: pixelated;
    /* Chrome */
    -ms-interpolation-mode: nearest-neighbor;
    /* IE8+                           */
    filter: drop-shadow(12px 12px 0px rgba(0, 0, 0, 0.5));
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#small {
    width: 300px;
}

#smaller {
    width: 100px;
    filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.5));
}

.doodles {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 500px;
    background: url(../s_one/bgpic.png);
    background-size: contain;
    margin-bottom: 220px;
}

.foot {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 200px;
    background: url(../s_one/bgpic4.png);
    background-size: contain;
    background-repeat: repeat-x;
}

.foot img {
    width: 300px;
    right: 0;
    position: absolute;
    filter: none;
}

.foot img:hover {
    filter: drop-shadow(2px 2px 0px rgba(255, 255, 255, 0.5));
}