body,
html {
    background: black;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scrollbar-width: none;
}

.loader {
    position: fixed;
    background: url(../media/animate.gif);
    background-repeat: repeat;
    inset: 0;
    z-index: 9999999;
    display: flex;
    justify-content: center;
    text-align: center;
}

.loader img {
    position: absolute;
    top: 40%;
    width: 120px;
    height: 120px;
}

#load {
    z-index: 5;
    width: 120px;
    height: 20px;
    filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.5));
}


/* S1 P1 */

.scrollone {
    position: absolute;
    width: 100vw;
    height: 500vh;
    background: url(../s_one/SB028.JPG);
    background-size: contain;

}

.scrollone img {
    filter: drop-shadow(12px 12px 0px rgba(0, 0, 0, 0.5));
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#small {
    width: 300px;
}

#smaller {
    width: 100px;
    filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.5));
}

.doodles {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 500px;
    background: url(../s_one/stickers/bgpic.png);
    background-size: contain;
    margin-bottom: 220px;
}

.foot {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 200px;
    background: url(../s_one/stickers/bgpic4.png);
    background-size: contain;
    background-repeat: repeat-x;
}

.foot img {
    width: 300px;
    right: 0;
    position: absolute;
    filter: none;
}

.foot img:hover {
    filter: drop-shadow(2px 2px 0px rgba(255, 255, 255, 0.5));
}