.splashbody {
    z-index: -1;
    height: 100vh;
    width: 800rem;
    background: url(../textures/1071.GIF) repeat;
    animation: slide 60s linear infinite;
}

.container {
    overflow: hidden;
}

.splashbodyoverlay {
    z-index: 1;
    position: absolute;
    background: url(../media/labribg1_2.png);
    height: 100vh;
    width: 100vw;
}


.splashbtn {
    width: 80px;
    border: none;
    background: url(../textures/854.GIF);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: opdysbold;
}

.splashbtn:hover {
    filter: invert(100%);
}

.splash {
    z-index: 2;
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
    box-shadow: -10px 20px 50px black;
}

.splash p {
    margin: 0 10px 10px 10px;
    font-family: opdysreg;
    font-size: 14px;
}


.splash img {
    width: 100%;
    position: absolute;
    left: 50%;
    top: -25px;
    transform: translate(-50%, -50%);
}

.splash h3 {
    font-family: opdysaltareg;
    margin: 0px 0px 5px 0px;
}

.splash h2 {
    font-family: opdysaltareg;
    margin: 0px 0px 5px 0px;
    font-size: 16px;
}

@media (max-width: 600px) {

    .splash {
        top: 54%;
    }

    .splash img {
        width: 120%;
        top: -1%;
    }


    .splash h2 {
        font-size: 10px;
    }

    .splash h3 {
        font-size: 10px;
    }

    .splash p {
        font-size: 10px;
    }

    .splashbtn {
        font-size: 10px;
    }

}